In [9]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_json('reco.json')
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,673,670,698,675,671,682,696,683,679,672,697,676,681,1376,684,678,687,689,690,19
1,1316,1319,1323,1465,1328,1311,1315,1471,1345,1313,1326,1336,1456,1310,1342,1302,1306,1455,1461,1478
2,718,722,710,729,1122,1042,734,1123,1127,1015,1132,753,484,746,807,742,758,750,995,745
3,1090,1258,1267,1202,1264,1273,1276,1274,232,231,1377,479,1390,1219,1341,1524,32,1584,84,110
4,553,891,887,926,554,886,556,893,897,885,896,924,898,895,900,888,892,558,889,901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,1362,1361,1359,1363,1356,1357,1358,1366,1365,1374,1364,1368,1373,1371,1375,1370,1369,19,30,29
596,891,914,926,913,896,898,555,884,558,901,888,885,889,900,890,908,902,910,919,907
597,877,876,881,879,875,874,878,872,1121,863,882,868,870,883,866,1241,867,865,31,1175
598,1215,1214,1212,1209,1252,1219,1253,1222,945,32,109,19,110,1090,1165,31,927,1263,1262,95
599,880,875,862,861,876,864,882,863,870,868,883,1241,866,867,865,31,833,1175,554,830

In [11]:
관광지 id

65536

In [ ]:
table id-관광지이름-위도, 경도

In [ ]:
누구는 드라마 촬영지
누구는 바다
누구는 산
비지도 학습으로